<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform) = WIN32 ?>
  <?define PlatformTarget = "x86" ?>
  <?else ?>
  <?define PlatformTarget = "x64" ?>
  <?endif ?>

  <Product Id="*" Name="Thescent" Language="1033" Version="!(bind.fileVersion.fil_gameexe)" Manufacturer="Felipe Bellini" UpgradeCode="e9e4836b-0a21-446a-b560-ef79bc10569e">
    <Package Platform="x64" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade AllowDowngrades="yes"/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="icon.ico" SourceFile="$(var.SolutionPath)\..\Art\Icon\Icon.ico"/>
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionPath)\..\Documentation\EULA.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\Logo_InstallerBGD.png"/>
    <WixVariable Id="WixUIBannerBmp" Value="Resources\Logo_InstallerTOP.png"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id='ARPCOMMENTS' Value='Thescent is an OpenGL demo based on the original Descent(1995) by Interplay Entertainment. For demonstration purposes only, no copyright infringement intended.' />
    <Property Id='ARPCONTACT' Value='felipe.bellini@outlook.com'/>
    <Property Id='ARPHELPLINK' Value='felipe.bellini@outlook.com'/>
    <Property Id='ARPSIZE' Value='4' />
    <Property Id="REINSTALLMODE" Value="amus" />
    <Property Id="REBOOT" Value="ReallySuppress" />

    <CustomAction Id="Cleanup"
                  Directory="CompanyFolder"
                  ExeCommand="cmd /C &quot;rmdir /s /q &quot;.\Thescent&quot;&quot;"
                  Execute="deferred"
                  Return="ignore"
                  HideTarget="no"
                  Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="Cleanup" After="RemoveFiles" >
        REMOVE="ALL"
      </Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="Thescent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <!-- The asset files is generated by a WiX heat prebuild event. -->
      <ComponentGroupRef Id="AssetsHeatGenerated" />
      <ComponentRef Id="TS_SHORTCUTS"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
    </Feature>

  </Product>

  <!-- Directory tree-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" SourceName="Desktop" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="BELLENGINE_STARTMENU" Name="BellEngine">
          <Directory Id="TS_STARTMENU" Name="Thescent"/>
        </Directory>
      </Directory>
      <?if $(var.Platform) = WIN32 ?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="BellEngine" >
          <Directory Id="INSTALLFOLDER" Name="Thescent" >
            <Directory Id="ASSETSFOLDER" Name="assets" />
            <Directory Id="DOCFOLDER" Name="Documentation" />
          </Directory>
        </Directory>
      </Directory>
      <?else ?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="CompanyFolder" Name="BellEngine" >
          <Directory Id="INSTALLFOLDER" Name="Thescent" >
            <Directory Id="RUNTIMEFOLDER" Name="Runtime" />
            <Directory Id="ASSETSFOLDER" Name="assets" />
            <Directory Id="DOCFOLDER" Name="Documentation" />
          </Directory>
        </Directory>
      </Directory>
      <?endif ?>
    </Directory>

    <DirectoryRef Id="TS_STARTMENU">
      <Component Id="TS_SHORTCUTS" Guid="{5383D0E0-CD3D-4371-BB80-886E8923C1F2}">
        <Shortcut Id="TS_STARTMENUSHORTCUT"
                  Name="Thescent"
                  Description="Thescent is a final project for the Game Development Advanced Programming at Fanshawe College."
                  Target="[#fil_gameexe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="TS_STARTMENU" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{1805DCD3-66CB-4C9D-9650-B1D3DDC267A7}">
        <Shortcut Id="ApplicationDesktopShortcut"
            Name="Thescent"
            Description="Thescent is a final project for the Game Development Advanced Programming at Fanshawe College."
            Target="[#fil_gameexe]"
            WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <!-- Documentation files-->
  <Fragment>
    <ComponentGroup Id="DocumentComponents" Directory="DOCFOLDER">
      <Component Id="eula" Guid="{884D01A1-6F80-407C-A207-B867C99AAF28}">
        <File Id="eula" KeyPath="yes" Source="$(var.SolutionPath)\..\Documentation\EULA.rtf" />
      </Component>
      <Component Id="usersguide" Guid="{599AD136-CAD7-4163-ADBC-022CE82E517E}">
        <File Id="usersguide" KeyPath="yes" Source="$(var.SolutionPath)\..\Documentation\User's Guide.chm" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="OnUnistall_Components" Directory="INSTALLFOLDER">
      <Component Id="INSTALLFOLDER_CMP" Guid="{76BEF24E-AE20-425A-924B-20DCC60FCCF8}">
        <CreateFolder />
        <RemoveFile Id="PurgeAppFolder" Directory="INSTALLFOLDER" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveAssetsFolder" Directory="ASSETSFOLDER" On="uninstall" />
        <RemoveFolder Id="RemoveDocFolder" Directory="DOCFOLDER" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- Core files -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="gameexe" Guid="{6A20A56B-E7A4-4523-A22E-0D443FAA3BDD}" Permanent="no">
        <RemoveFile Id="Remove_Filetxt" Name="fil_gameexe" On="install" />
        <File Id="fil_gameexe" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\Game.exe" Vital="yes"/>
      </Component>
      <Component Id="assimp_vc142_mt" Guid="{FD267333-679A-43BC-9916-781DD3AD56FD}" Permanent="no">
        <RemoveFile Id="Remove_fil_assimp_vc142_mt" Name="fil_assimp_vc142_mt" On="install" />
        <File Id="fil_assimp_vc142_mt" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\assimp-vc142-mt.dll" Vital="yes"/>
      </Component>
      <Component Id="BellEngineAICustom" Guid="{6CF35932-210E-4DEB-9C72-0C89AEE7E258}" Permanent="no">
        <RemoveFile Id="Remove_fil_BellEngineAICustom" Name="fil_BellEngineAICustom" On="install" />
        <File Id="fil_BellEngineAICustom" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\BellEngine.AI.Custom.dll" Vital="yes"/>
      </Component>
      <Component Id="BellEngineMeshAssimp" Guid="{ECEBF557-16DD-42D6-8D3D-9EF66B8CF9F2}" Permanent="no">
        <RemoveFile Id="Remove_fil_BellEngineMeshAssimp" Name="fil_BellEngineMeshAssimp" On="install" />
        <File Id="fil_BellEngineMeshAssimp" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\BellEngine.Mesh.Assimp.dll" Vital="yes"/>
      </Component>
      <Component Id="BellEngineMeshPlyReader" Guid="{ADFD61B8-DEFD-4327-BC36-97F9F5F9D971}" Permanent="no">
        <RemoveFile Id="Remove_fil_BellEngineMeshPlyReader" Name="fil_BellEngineMeshPlyReader" On="install" />
        <File Id="fil_BellEngineMeshPlyReader" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\BellEngine.Mesh.PlyReader.dll" Vital="yes"/>
      </Component>
      <Component Id="BellEnginePhysicsBullet" Guid="{91837A3B-6F99-4D71-AAC8-D073EA1FFFF7}" Permanent="no">
        <RemoveFile Id="Remove_fil_BellEnginePhysicsBullet" Name="fil_BellEnginePhysicsBullet" On="install" />
        <File Id="fil_BellEnginePhysicsBullet" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\BellEngine.Physics.Bullet.dll" Vital="yes"/>
      </Component>
      <Component Id="BellEnginePhysicsCustom" Guid="{EC5F8E48-8E3E-4352-9DA8-7FE96C0AE8C1}" Permanent="no">
        <RemoveFile Id="Remove_fil_BellEnginePhysicsCustom" Name="fil_BellEnginePhysicsCustom" On="install" />
        <File Id="fil_BellEnginePhysicsCustom" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\BellEngine.Physics.Custom.dll" Vital="yes"/>
      </Component>
      <Component Id="BellEngineScriptingLua" Guid="{4FA5394E-7413-4062-9F4F-9B9304B4B2BE}" Permanent="no">
        <RemoveFile Id="Remove_fil_BellEngineScriptingLua" Name="fil_BellEngineScriptingLua" On="install" />
        <File Id="fil_BellEngineScriptingLua" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\BellEngine.Scripting.Lua.dll" Vital="yes"/>
      </Component>
      <Component Id="BellEngineSoundOpenAL" Guid="{372324B1-0D7A-44A1-AC06-017D387266A6}" Permanent="no">
        <RemoveFile Id="Remove_fil_BellEngineSoundOpenAL" Name="fil_BellEngineSoundOpenAL" On="install" />
        <File Id="fil_BellEngineSoundOpenAL" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\BellEngine.Sound.OpenAL.dll" Vital="yes"/>
      </Component>
      <Component Id="GamePersistencyXML" Guid="{F4C3E3D1-55F5-49DC-90B7-F939B72AD6F3}" Permanent="no">
        <RemoveFile Id="Remove_fil_GamePersistencyXML" Name="fil_GamePersistencyXML" On="install" />
        <File Id="fil_GamePersistencyXML" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\Game.Persistency.XML.dll" Vital="yes"/>
      </Component>
      <Component Id="lua535" Guid="{84A84A96-4200-433E-BD82-AF3F7D72545A}" Permanent="no">
        <RemoveFile Id="Remove_fil_lua535" Name="fil_lua535" On="install" />
        <File Id="fil_lua535" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\lua5.3.5.dll" Vital="yes"/>
      </Component>
      <Component Id="OpenAL32" Guid="{87BADEC7-3B6F-4249-A67B-42B6B0F7E278}" Permanent="no">
        <RemoveFile Id="Remove_fil_OpenAL32" Name="fil_OpenAL32" On="install" />
        <File Id="fil_OpenAL32" KeyPath="yes" Source="$(var.SolutionPath)\..\bin\$(var.PlatformTarget)\$(var.Configuration)\OpenAL32.dll" Vital="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>